/**** TEXT ****/
.text-left {
  text-align: left!important;
}

.text-green { 
  color: green!important;
}

.text-red { 
  color: red!important;
}

/**** LISTS ****/
.list-full-width {
  width: 100%!important;
}

/**** CHAT ****/
.chat-left {
  width: 40%!important;
  float: left;
  text-align: left;
  padding-left: 20px!important;
  padding-top: 20px!important;
  margin-right: 10px!important;
}

.chat-right {
  height: 600px;
  float: left;
  text-align: left;
  border-left: 1px solid white!important;
  width: 50%!important;
  padding-left: 20px!important;
}

/***** MARGINS *****/
.mt10 {
  margin-top: 10px!important;
}

.mt40 {
  margin-top: 40px!important;
}

.mt80 {
  margin-top: 80px!important;
}

.m0 {
  margin: 0!important;
}

/**** INDIVIDUAL STUFF ****/
.ws-connected {
  text-align: center;
  top: 0;
  position: absolute;
  display: inline-block;
  width: 100%;
  color: white!important;
}

.section {
  border: 1px solid black;
}

.hidden {
  display: none;
}

tbody {
  border-top: 1px solid white!important;
}